@import 'colors.css';

* {
    font-family: "Fira Sans Semibold", Roboto, Helvetica, Arial, sans-serif, "Material Icons";
    border: none;
    border-radius: 0px;
}

window#waybar {
    background: black;
}

label.module {
    font-size: 14px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 5px;
}

/* -----------------------------------------------------
 * Audio Left
 * ----------------------------------------------------- */
#audio-left{
    background-color: @surface;
    border-radius: 12px;
    background: radial-gradient(circle at 50% 250%, alpha(darker(@surface),0.9), alpha(@surface_dim,0.9)) padding-box,
        linear-gradient(@primary,@on_primary) border-box;
    border: 1px solid transparent;	
    opacity:0.8;
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 0px;
    box-shadow: 1 1 5 1px @shadow;
    -webkit-backdrop-filter: blur(2.4px);
}

#cava {
    margin-left: 2px;
}


/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
    background-color: @surface;
    border-radius: 12px;
    background: radial-gradient(circle at 50% 250%, alpha(darker(@surface),0.9), alpha(@surface_dim,0.9)) padding-box,
        linear-gradient(@primary,@on_primary) border-box;
    border: 1px solid transparent;	
    opacity:0.8;
    padding: 5px 5px 5px 5px;
    margin:10px;
    box-shadow: 1 1 5 1px @shadow;
    -webkit-backdrop-filter: blur(2.4px);
}

#workspaces button {
    border-radius: 6px;
    padding:0px 5px 0px 5px;
    margin:0px 2px 0px 2px;
}

#workspaces button.active {
    background:@primary;
    color:@on_primary;
}

#workspaces button:hover {
    background:@primary;
    color:@on_primary;
}

/* ------------------------S-----------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    background-color: @surface;
    border-radius: 12px;
    background: radial-gradient(circle at 50% 250%, @surface, @surface_dim) padding-box,
        linear-gradient(#FFFFFF,@on_primary) border-box;
    border: 1px solid transparent;	
    opacity:0.7;
    margin:10px;
}

tooltip label {
    color: @on_surface;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
}

window#waybar.empty #window {
    background-color:transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
    background-color: @surface;
    border-radius: 12px;
    background: radial-gradient(circle at 50% 250%, alpha(darker(@surface),0.9), alpha(@surface_dim,0.9)) padding-box,
        linear-gradient(@primary,@on_primary) border-box;
    border: 1px solid transparent;	
    opacity:0.8;
    margin:10px;
    padding: 5px 5px 5px 5px;
    box-shadow: 1 1 5 1px @shadow;
    -webkit-backdrop-filter: blur(2.4px);
}

#taskbar button.active{
    background:@primary;
    color:@on_primary;
}

#taskbar button {
    border-radius: 10px;
    padding:0px 5px 0px 5px;
    margin:0px 2px 0px 2px;
}

#taskbar button:hover{
    background:@primary;
    color:@on_primary; 
}

#taskbar.empty {
}

/* -----------------------------------------------------
 * Audio Right
 * ----------------------------------------------------- */

#audio-right{
    background-color: @surface;
    border-radius: 12px;
    background: radial-gradient(circle at 50% 250%, alpha(darker(@surface),0.9), alpha(@surface_dim,0.9)) padding-box,
        linear-gradient(@primary,@on_primary) border-box;
    border: 1px solid transparent;	
    opacity:0.8;
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 10px 10px;
    box-shadow: 1 1 5 1px @shadow;
    -webkit-backdrop-filter: blur(2.4px);
}

#pulseaudio {
}

#pulseaudio:hover {
}

#pulseaudio.muted {
}

#bluetooth, #bluetooth.on, #bluetooth.connected {
}

#bluetooth:hover {
}

#bluetooth.off {
}

/* -----------------------------------------------------
 * Idle Inhibitor
 * ----------------------------------------------------- */

#idle_inhibitor {
}

#idle_inhibitor.activated {
}


/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,#memory,#cpu,#language {
}

#language {
}

/* -----------------------------------------------------
 * Power Profiles Daemon
 * ----------------------------------------------------- */

#power-profiles-daemon {
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    background-color: @surface;
    border-radius: 12px;
    background: radial-gradient(circle at 50% 250%, alpha(darker(@surface),0.9), alpha(@surface_dim,0.9)) padding-box,
        linear-gradient(@primary,@on_primary) border-box;
    border: 1px solid transparent;	
    opacity:0.8;
    padding: 5px 5px 5px 5px;
    margin: 10px 0px 10px 10px;
    box-shadow: 1 1 5 1px @shadow;
    -webkit-backdrop-filter: blur(2.4px);
}

#clock:hover {
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    background-color: @surface;
    border-radius: 12px;
    background: radial-gradient(circle at 50% 250%, alpha(darker(@surface),0.9), alpha(@surface_dim,0.9)) padding-box,
        linear-gradient(@primary,@on_primary) border-box;
    border: 1px solid transparent;	
    opacity:0.8;
    padding: 5px 5px 5px 5px;
    margin: 10px 0px 10px 10px;
    box-shadow: 1 1 5 1px @shadow;
    -webkit-backdrop-filter: blur(2.4px);
}

#network.ethernet:hover {
}

#network.wifi:hover {
}

#network.ethernet {
}

#network.wifi {
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#power{
    background-color: @surface;
    border-radius: 12px;
    background: radial-gradient(circle at 50% 250%, alpha(darker(@surface),0.9), alpha(@surface_dim,0.9)) padding-box,
        linear-gradient(@primary,@on_primary) border-box;
    border: 1px solid transparent;	
    opacity:0.8;
    padding: 5px 0px 5px 0px;
    margin: 10px 10px 10px 10px;
    box-shadow: 1 1 5 1px @shadow;
    -webkit-backdrop-filter: blur(2.4px);
}

#battery {
    
}

#battery.charging, #battery.plugged {
}

@keyframes blink {
    to {
        background-color: @background;
        color: @on_surface;
    }
}

#battery.critical:not(.charging) {
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {

}

#tray > .passive {

}

#tray > .needs-attention {

}